.lol__container {
  background-image: url("../assets/lol_background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
}

.vlrt__container {
  background-image: url("../assets/vlrt_background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
}

.players {
  padding-left: 40px;
  gap: 5px;
  display: flex;
  font-size: 25px;
  margin-bottom: 3px;
  justify-content: space-around;
  background-color: transparent;
}

.players__input-name {
  font-family: "New Amsterdam", sans-serif;
  margin-top: 7px;
  height: 40px;
  padding: 0;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #333;
  width: 150px;
  text-align: center;
  font-size: 20px;
  &:focus {
    background-color: #3949ab;
  }
}

.tenPlayers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.players__tiers {
  display: inline-block;
  padding: 1px 8px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;

  &:hover {
    background-color: #444;
  }
}

.players__input-tier {
  &[type="radio"] {
    display: none;

    &:checked + .players__tiers {
      background-color: rgb(234, 234, 234);
      border: none;
    }
  }
}

.player {
  background-color: transparent;
  margin: 0;
  align-items: stretch;
}

.tier {
  background-color: transparent;
}

.players__lanes {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  .lane {
    background-color: transparent;
  }

  input[type="checkbox"] {
    display: none;
  }

  .players__lane-image {
    margin: 3px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition:
      transform 0.2s,
      border 0.2s;

    &.selected {
      border: 2px solid #3949ab;
      border-radius: 5px;
    }
  }
}
