.players{
    display:flex;
    font-size: 25px;
    justify-content: center;
    margin: 15px;
}   

.players input[type="text"]{
    font-family: "New Amsterdam", sans-serif;
    margin-right: 15px;
    padding: 10px;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: aliceblue;
    width: 150px;
    text-align: center;
    font-size: 18px;
}

.players input[type="text"]:focus {
    background-color: #697DFF;
}

.tenPlayers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tier {
    display: inline-block;
    padding: 1px 8px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 30px;
}

.tier:hover {
    background-color: #444;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + .tier {
    background-color: #666;
    border: 2px solid #888;
}