.lol__container {
  background-image: url("assets/lol_background.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.vlrt__container {
  background-image: url("assets/vlrt_background.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.players {
  padding-left: 40px;
  display: flex;
  font-size: 25px;
  justify-content: space-around;
  margin-bottom: 15px;
  background-color: transparent;
}

.players__input-name {
  font-family: "New Amsterdam", sans-serif;
  padding: 10px;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: aliceblue;
  width: 150px;
  text-align: center;
  font-size: 18px;

  &:focus {
    background-color: #697dff;
  }
}

.tenPlayers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.players__tiers {
  display: inline-block;
  padding: 1px 8px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;

  &:hover {
    background-color: #444;
  }
}

.players__input-tier {
  &[type="radio"] {
    display: none;

    &:checked + .players__tiers {
      background-color: rgb(234, 234, 234);
      border: none;
    }
  }
}

.player {
  background-color: transparent;
  margin: 0;
  align-items: stretch;
}

.tier {
  background-color: transparent;
}
